meta(charset='UTF-8')
link(rel='icon', href='img/favicon.png', type='image/png')
meta(name="theme-color" content="#364359")
link(rel="icon" sizes="192x192" href="./img/favicon.png")
title webdesignrepo - a compact list of helpful webdesign links
meta(property="og:title" content="webdesignrepo")
meta(property="og:type" content="website")
meta(property="article:tag" content="web design")
meta(property="article:tag" content="web development")
meta(property="article:tag" content="development")
meta(property="article:tag" content="design")
meta(property="article:tag" content="frontend")
meta(property="article:tag" content="startups")
meta(property="article:tag" content="css")
meta(property="article:tag" content="html")
meta(property="article:tag" content="js")
meta(property="article:tag" content="javascript")
meta(property="og:url" content="http://webdesignrepo.com")
meta(property="og:image" content="http://webdesignrepo.com/img/banner.png")
meta(property="og:image:width" content="388")
meta(property="og:image:height" content="82")
meta(property="og:description" content="The best of webdesign, frontend & startups all in one place.")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@webdesignrepo")
meta(name="twitter:creator" content="@mildrenben")
meta(name="twitter:title" content="webdesignrepo")
meta(name="twitter:description" content="The best of webdesign, frontend & startups all in one place.")
meta(name="twitter:image" content="http://webdesignrepo.com/img/banner.png")
meta(name='description', content='The best of webdesign, frontend & startups all in one place.')
link(rel='stylesheet', type='text/css', href='css/main.css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
