-
  DailyVisits = {
          title: 'Daily Visits',
          id: 'DailyVisits',
          subCats: [
            {
              title: 'Blogs & News',
              links: [
                { name: 'Both Sides of the Table', date: '2016-04-20', url: 'https://bothsidesofthetable.com/?webdesignrepo'},
                { name: 'Founders Grid', date: '2016-04-20', url: 'http://foundersgrid.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Growth Hackers', date: '2016-04-20', url: 'https://growthhackers.com/?webdesignrepo'},
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/'},
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'This Week in Startups', date: '2016-04-20', url: 'http://thisweekinstartups.com/?webdesignrepo'},
               ]
            }
          ]
        }
