-
  BlogsNews = {
          title: 'Blogs & News',
          id: 'BlogsNews',
          subCats: [
            {
              title: 'Blogs',
              links: [
                { name: 'Both Sides of the Table', date: '2016-04-20', url: 'https://bothsidesofthetable.com/?webdesignrepo'},
                { name: 'Brad Feld', date: '2016-04-20', url: 'http://feld.com/?webdesignrepo'},
                { name: 'First Round', date: '2016-04-20', url: 'http://firstround.com/review/?webdesignrepo'},
                { name: 'Founders Grid', date: '2016-04-20', url: 'http://foundersgrid.com/?webdesignrepo'},
                { name: 'Sam Altman', date: '2016-04-20', url: 'http://blog.samaltman.com/?webdesignrepo'},
                { name: 'Springwise', date: '2016-04-20', url: 'http://www.springwise.com/?webdesignrepo'},
                { name: 'VentureBeat', date: '2016-04-20', url: 'http://venturebeat.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Growth Hackers', date: '2016-04-20', url: 'https://growthhackers.com/?webdesignrepo'},
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/'},
                { name: '/r/Entrepreneur', date: '2016-04-20', url: 'https://www.reddit.com/r/entrepreneur'},
                { name: '/r/Startups', date: '2016-04-20', url: 'https://www.reddit.com/r/startups'}
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'Rocketship', date: '2016-04-20', url: 'http://rocketship.fm/?webdesignrepo'},
                { name: 'The Pitch', date: '2016-04-20', url: 'https://thepitch.fm/?webdesignrepo'},
                { name: 'The Twenty Minute VC', date: '2016-04-20', url: 'http://www.thetwentyminutevc.com/?webdesignrepo'},
                { name: 'This Week in Startups', date: '2016-04-20', url: 'http://thisweekinstartups.com/?webdesignrepo'},
                { name: 'Startup', date: '2016-04-20', url: 'https://gimletmedia.com/show/startup/?webdesignrepo'}
               ]
            }
          ]
        }
