-
  Learning = {
          title: 'Learning',
          id: 'Learning',
          subCats: [
            {
              title: 'Articles',
              links: [
                { name: 'GV Library', date: '2016-04-20', url: 'http://www.gv.com/library/?webdesignrepo'},
                { name: 'Making Product Hunt', date: '2016-04-20', url: 'https://medium.com/on-startups/the-artifacts-of-product-hunt-11682e9e01dd#.5knozbsb5'},
                { name: 'Paul Graham Essays', date: '2016-04-20', url: 'http://paulgraham.com/articles.html/?webdesignrepo'},
                { name: 'Pitching to LinkedIn', date: '2016-04-20', url: 'https://www.linkedin.com/pulse/20131015161834-1213-what-i-wish-i-knew-before-pitching-linkedin-to-vcs'},
                { name: 'Startup Notes', date: '2016-04-20', url: 'http://ffc2016.startupnotes.org/?startupstash#page/1'},
                { name: 'Startupery', date: '2016-04-20', url: 'http://startupery.com/?webdesignrepo'},
                { name: 'Write Emails like a CEO', date: '2016-04-20', url: 'https://medium.com/@Torbahax/how-to-write-emails-like-a-ceo-d6a2906611e0#.mbhcx0lso'},
                { name: 'Writing a Business Plan', date: '2016-04-20', url: 'https://www.sequoiacap.com/article/writing-a-business-plan/?webdesignrepo'}
               ]
            }
            , {
              title: 'Books',
              links: [
                { name: 'Bookicious', date: '2016-04-20', url: 'http://www.bookicious.com/collections/?webdesignrepo', paid: true, book: true},
                { name: 'The Hard Thing About...', date: '2016-04-20', url: 'http://hardthings.bhorowitz.com/?webdesignrepo', paid: true, book: true},
                { name: 'The Lean Startup', date: '2016-04-20', url: 'http://theleanstartup.com/?webdesignrepo', paid: true, book: true},
                { name: 'The Millionaire Fastlane', date: '2016-04-20', url: 'http://www.themillionairefastlane.com/?webdesignrepo', paid: true, book: true},
                { name: 'The Tipping Point', date: '2016-04-20', url: 'http://gladwell.com/the-tipping-point/?webdesignrepo', paid: true, book: true},
                { name: 'Traction', date: '2016-04-20', url: 'http://tractionbook.com/?webdesignrepo', paid: true, book: true},
                { name: 'Where Good Ideas...', date: '2016-04-20', url: 'https://www.amazon.com/exec/obidos/ASIN/1594487715/stevenberlinj-20', paid: true, book: true},
                { name: 'Zero to One', date: '2016-10-22', url: 'http://zerotoonebook.com/?webdesignrepo', paid: true, book: true}
               ]
            }
            , {
              title: 'Videos',
              links: [
                { name: 'Foundation', date: '2016-04-20', url: 'http://foundation.bz/?webdesignrepo'},
                { name: 'GrowthHacker TV', date: '2016-04-20', url: 'https://www.growthhacker.tv/?webdesignrepo'},
                { name: 'Startup Movies', date: '2016-10-24', url: 'http://startupmovies.be-genius.com/?webdesignrepo'},
                { name: 'Startup Talks', date: '2016-04-20', url: 'http://startuptalks.tv/?webdesignrepo'},
                { name: '/r/Entrepreneur', date: '2016-04-20', url: 'https://www.reddit.com/r/entrepreneur'},
                { name: '/r/Startups', date: '2016-04-20', url: 'https://www.reddit.com/r/startups'}
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'Dorm Room Tycoon', date: '2016-04-20', url: 'http://drt.fm/?webdesignrepo'},
                { name: 'How to Start a Startup', date: '2016-04-20', url: 'https://itunes.apple.com/us/podcast/how-to-start-a-startup/id922398209?mt=2&'}
               ]
            }
          ]
        }
