-
  IdeaStage = {
          title: 'Idea Stage',
          id: 'IdeaStage',
          subCats: [
            {
              title: 'Idea Generation',
              links: [
                { name: 'Germ', date: '2016-04-20', url: 'https://germ.io/?webdesignrepo'},
                { name: 'Mind Meister', date: '2016-04-20', url: 'https://www.mindmeister.com/?webdesignrepo', paid: true},
                { name: 'Skitch', date: '2016-04-20', url: 'https://evernote.com/skitch/?webdesignrepo'},
                { name: 'XMind', date: '2016-04-20', url: 'http://www.xmind.net/?webdesignrepo'}
               ]
            }
            , {
              title: 'Naming',
              links: [
                { name: 'Namecheap', date: '2016-04-20', url: 'https://www.namecheap.com/?aff=104576'},
                { name: 'Namechk', date: '2016-04-20', url: 'https://namechk.com/?webdesignrepo'},
                { name: 'Namemesh', date: '2016-04-20', url: 'http://www.namemesh.com/?webdesignrepo'},
                { name: 'Naminum', date: '2016-04-20', url: 'http://www.naminum.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Market Research',
              links: [
                { name: 'Consumer Barometer', date: '2016-04-20', url: 'https://www.consumerbarometer.com/en/'},
                { name: 'Google Trends', date: '2016-04-20', url: 'https://www.google.com/trends/'},
                { name: 'GutCheck', date: '2016-04-20', url: 'http://www.gutcheckit.com/?webdesignrepo', paid: true},
                { name: 'Proved', date: '2016-04-20', url: 'http://proved.co/?webdesignrepo', paid: true},
                { name: 'Similar Web', date: '2016-04-20', url: 'https://www.similarweb.com/?webdesignrepo'},
                { name: 'Statista', date: '2016-04-20', url: 'https://www.statista.com/?webdesignrepo', paid: true},
                { name: 'Validately', date: '2016-04-20', url: 'https://validately.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Surveys & Forms',
              links: [
                { name: 'Delighted', date: '2016-04-20', url: 'https://delighted.com/?webdesignrepo', paid: true},
                { name: 'Formstack', date: '2016-04-20', url: 'https://www.formstack.com/?webdesignrepo', paid: true},
                { name: 'Google Surveys', date: '2016-04-20', url: 'https://www.google.com/insights/consumersurveys/home'},
                { name: 'Typeform', date: '2016-04-20', url: 'https://www.typeform.com/?webdesignrepo'},
                { name: 'Verify', date: '2016-04-20', url: 'http://verifyapp.com/?webdesignrepo', paid: true}
               ]
            }
          ]
        }
