-
  EarlyStage = {
          title: 'Early Stage',
          id: 'EarlyStage',
          subCats: [
            {
              title: 'Mockups',
              links: [
                { name: 'Balsamiq', date: '2016-04-20', url: 'https://balsamiq.com/?webdesignrepo', paid: true},
                { name: 'Conceptly', date: '2016-04-20', url: 'http://concept.ly/?webdesignrepo', paid: true},
                { name: 'Flinto', date: '2016-04-20', url: 'https://www.flinto.com/?webdesignrepo', paid: true},
                { name: 'Gliffy', date: '2016-04-20', url: 'https://www.gliffy.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'MVP',
              links: [
                { name: 'InVision', date: '2016-04-20', url: 'https://www.invisionapp.com/?webdesignrepo', paid: true},
                { name: 'Launchrock', date: '2016-04-20', url: 'https://www.launchrock.com/?webdesignrepo', paid: true},
                { name: 'Proto', date: '2016-04-20', url: 'https://proto.io/?webdesignrepo', paid: true},
                { name: 'QuickMVP', date: '2016-04-20', url: 'http://quickmvp.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Design & Development',
              links: [
                { name: '/repo/webdesign', date: '2016-04-20', url: '/'},
                { name: '/repo/frontend', date: '2016-04-20', url: '/frontend.html'}
               ]
            }
            , {
              title: 'Presentation',
              links: [
                { name: 'Recordit', date: '2016-04-20', url: 'http://recordit.co/?webdesignrepo'},
                { name: 'Slide Bean', date: '2016-04-20', url: 'http://slidebean.com/?webdesignrepo'},
                { name: 'Slides', date: '2016-04-20', url: 'https://slides.com/?webdesignrepo'},
                { name: 'VideoScribe', date: '2016-04-20', url: 'http://www.videoscribe.co/?webdesignrepo'}
               ]
            }
            , {
              title: 'Launching',
              links: [
                { name: 'Hey Press', date: '2016-10-17', url: 'https://www.hey.press/?webdesignrepo', paid: true},
                { name: 'Pressfarm', date: '2016-04-20', url: 'https://press.farm/?webdesignrepo', paid: true},
                { name: 'ProductHunt Top 200', date: '2016-04-20', url: 'https://www.yvoschaap.com/producthunt/?webdesignrepo'},
                { name: 'Startup Lister', date: '2016-04-20', url: 'https://startuplister.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Early Users',
              links: [
                { name: 'Beta List', date: '2016-04-20', url: 'https://betalist.com/?webdesignrepo'},
                { name: 'Launching Next', date: '2016-10-15', url: 'http://launchingnext.com/?webdesignrepo'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/?webdesignrepo'}
               ]
            }
          ]
        }
