-
  Marketing = {
          title: 'Marketing',
          id: 'Marketing',
          subCats: [
            {
              title: 'CRM',
              links: [
                { name: 'Highrise', date: '2016-04-20', url: 'https://highrisehq.com/?webdesignrepo', paid: true},
                { name: 'Intercom', date: '2016-04-20', url: 'https://www.intercom.com/?webdesignrepo', paid: true},
                { name: 'Pardot', date: '2016-04-20', url: 'http://www.pardot.com/?webdesignrepo', paid: true},
                { name: 'SalesForceIQ', date: '2016-04-20', url: 'https://www.salesforceiq.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Customer Support',
              links: [
                { name: 'Fresh Desk', date: '2016-04-20', url: 'https://freshdesk.com/?webdesignrepo', paid: true},
                { name: 'Front', date: '2016-04-20', url: 'https://frontapp.com/?webdesignrepo', paid: true},
                { name: 'Uservoice', date: '2016-04-20', url: 'https://www.uservoice.com/?webdesignrepo', paid: true},
                { name: 'Zendesk', date: '2016-04-20', url: 'https://www.zendesk.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Growth Hacking',
              links: [
                { name: 'BuzzSumo', date: '2016-04-20', url: 'http://buzzsumo.com/?webdesignrepo', paid: true},
                { name: 'Exit Monitor', date: '2016-04-20', url: 'http://exitmonitor.com/?webdesignrepo', paid: true},
                { name: 'Gleam', date: '2016-04-20', url: 'https://gleam.io/?webdesignrepo', paid: true},
                { name: 'Growth Hackers', date: '2016-10-24', url: 'https://growthhackers.com/?webdesignrepo'},
                { name: 'PetitHacks', date: '2016-04-20', url: 'http://petithacks.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Social Tools',
              links: [
                { name: 'Brand24', date: '2016-04-20', url: 'https://brand24.com/?webdesignrepo', paid: true},
                { name: 'Buffer', date: '2016-04-20', url: 'https://buffer.com/?webdesignrepo', paid: true},
                { name: 'Hootsuite', date: '2016-04-20', url: 'https://hootsuite.com/?webdesignrepo', paid: true},
                { name: 'Mailchimp', date: '2016-04-20', url: 'http://mailchimp.com/?webdesignrepo', paid: true},
                { name: 'Mention', date: '2016-04-20', url: 'https://mention.com/en/?webdesignrepo', paid: true},
                { name: 'Simply Measured', date: '2016-04-20', url: 'http://simplymeasured.com/?webdesignrepo', paid: true}
               ]
            }
          ]
        }
