-
  Productivity = {
          title: 'Productivity',
          id: 'Productivity',
          subCats: [
            {
              title: 'Communication',
              links: [
                { name: 'Hipchat', date: '2016-04-20', url: 'http://www.hipchat.com/?webdesignrepo'},
                { name: 'Slack', date: '2016-04-20', url: 'https://slack.com/?webdesignrepo'},
               ]
            }
            , {
              title: 'Project Management',
              links: [
                { name: 'Asana', date: '2016-04-20', url: 'https://asana.com/?webdesignrepo', paid: true},
                { name: 'Basecamp', date: '2016-04-20', url: 'https://basecamp.com/?webdesignrepo', paid: true},
                { name: 'Meistertask', date: '2016-04-20', url: 'https://www.meistertask.com/?webdesignrepo', paid: true},
                { name: 'Team Gantt', date: '2016-04-20', url: 'https://www.teamgantt.com/?webdesignrepo'},
                { name: 'Trello', date: '2016-04-20', url: 'https://trello.com/?webdesignrepo'},
                { name: 'Wrike', date: '2016-04-20', url: 'https://www.wrike.com/?webdesignrepo', paid: true},
               ]
            }
          ]
        }
