-
  Legal = {
          title: 'Legal',
          id: 'Legal',
          subCats: [
            {
              title: 'Documents & Contracts',
              links: [
                { name: 'Docracy', date: '2016-04-20', url: 'http://www.docracy.com/?webdesignrepo'},
                { name: 'StartupDocuments', date: '2016-04-20', url: 'https://www.startupdocuments.com/?webdesignrepo', paid: true},
                { name: 'TermsFeed', date: '2016-04-20', url: 'https://termsfeed.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Human Resources',
              links: [
                { name: 'Intuit', date: '2016-04-20', url: 'https://workforce.intuit.com/?webdesignrepo', paid: true},
                { name: 'Lever', date: '2016-04-20', url: 'https://www.lever.co/?webdesignrepo', paid: true},
                { name: 'Namely', date: '2016-04-20', url: 'https://www.namely.com/?webdesignrepo', paid: true},
                { name: 'Workable', date: '2016-04-20', url: 'https://www.workable.com/?webdesignrepo', paid: true},
               ]
            }
            , {
              title: 'Legal Help',
              links: [
                { name: 'Legalzoom', date: '2016-04-20', url: 'http://www.legalzoom.com/?webdesignrepo', paid: true},
                { name: 'Rocket Lawyer', date: '2016-04-20', url: 'https://www.rocketlawyer.com/?webdesignrepo', paid: true},
                { name: 'Upcounsel', date: '2016-04-20', url: 'https://www.upcounsel.com/?webdesignrepo', paid: true}
               ]
            }
          ]
        }
