include 01_DailyVisits.pug
include 02_BlogsNews.pug
include 03_Learning.pug
include 04_IdeaStage.pug
include 05_EarlyStage.pug
include 06_Marketing.pug
include 07_Productivity.pug
include 08_Money.pug
include 09_Legal.pug
-
  data = [
    DailyVisits,
    BlogsNews,
    Learning,
    IdeaStage,
    EarlyStage,
    Marketing,
    Productivity,
    Money,
    Legal
  ]
