-
  DailyVisits = {
          title: 'Daily Visits',
          id: 'DailyVisits',
          subCats: [
            {
              title: 'Blogs & News',
              links: [
                { name: 'CSS Tricks', date: '2016-04-20', url: 'https://css-tricks.com/?webdesignrepo'},
                { name: 'David Walsh', date: '2016-04-20', url: 'https://davidwalsh.name/?webdesignrepo'},
                { name: 'Smashing Magazine', date: '2016-08-01', url: 'https://www.smashingmagazine.com/category/coding/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/?webdesignrepo'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/?webdesignrepo'},
                { name: '/r/Webdev', date: '2016-04-20', url: 'https://www.reddit.com/r/webdev'}
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'Developer Tea', date: '2016-04-20', url: 'https://spec.fm/podcasts/developer-tea/?webdesignrepo'},
               ]
            }
          ]
        }
