-
  BlogsNews = {
          title: 'Blogs & News',
          id: 'BlogsNews',
          subCats: [
            {
              title: 'CSS',
              links: [
                { name: 'CSS Tricks', date: '2016-09-25', url: 'https://css-tricks.com/?webdesignrepo'},
                { name: 'CSS Weekly', date: '2016-09-26', url: 'http://css-weekly.com/?webdesignrepo'},
                { name: 'CSS Wizardry', date: '2016-04-20', url: 'http://csswizardry.com/?webdesignrepo'},
                { name: 'Sara Soueidan', date: '2016-04-20', url: 'https://sarasoueidan.com/articles/?webdesignrepo'},
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/?webdesignrepo'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/?webdesignrepo'},
                { name: '/r/Javascript', date: '2016-04-20', url: 'https://www.reddit.com/r/javascript'},
                { name: '/r/Webdev', date: '2016-04-20', url: 'https://www.reddit.com/r/webdev'},
                { name: '/r/Web_Design', date: '2016-04-20', url: 'https://www.reddit.com/r/web_design'},
               ]
            }
            , {
              title: 'General',
              links: [
                { name: 'Codrops', date: '2016-04-20', url: 'http://tympanus.net/codrops/?webdesignrepo'},
                { name: 'Codyhouse', date: '2016-10-24', url: 'https://codyhouse.co/?webdesignrepo'},
                { name: 'David Walsh', date: '2016-04-20', url: 'https://davidwalsh.name/?webdesignrepo'},
                { name: 'Scotch', date: '2016-04-20', url: 'https://scotch.io/?webdesignrepo'},
                { name: 'Sitepoint', date: '2016-04-20', url: 'https://www.sitepoint.com/?webdesignrepo'},
                { name: 'Six Revisions', date: '2016-04-20', url: 'http://sixrevisions.com/?webdesignrepo'},
                { name: 'Smashing Magazine', date: '2016-04-20', url: 'https://www.smashingmagazine.com/category/coding/?webdesignrepo'},
                { name: 'The New Code', date: '2016-04-20', url: 'http://thenewcode.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'HTML',
              links: [
                { name: 'HTML5 Rocks', date: '2016-04-20', url: 'http://www.html5rocks.com/en/?webdesignrepo'}
               ]
            }
            , {
              title: 'JavaScript',
              links: [
                { name: 'John Papa', date: '2016-04-20', url: 'https://johnpapa.net/?webdesignrepo'},
                { name: 'JavaScript Weekly', date: '2016-04-20', url: 'http://javascriptweekly.com/?webdesignrepo'},
                { name: 'JS Tips', date: '2016-10-21', url: 'http://www.jstips.co/?webdesignrepo'},
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'Code Newbie', date: '2016-04-20', url: 'http://www.codenewbie.org/podcast/?webdesignrepo'},
                { name: 'Codepen Radio', date: '2016-04-20', url: 'https://blog.codepen.io/radio/?webdesignrepo'},
                { name: 'Developer Tea', date: '2016-04-20', url: 'https://spec.fm/podcasts/developer-tea/?webdesignrepo'},
                { name: 'JavaScript Jabber', date: '2016-04-20', url: 'https://devchat.tv/js-jabber/?webdesignrepo'},
                { name: 'Shop Talk Show', date: '2016-04-20', url: 'http://shoptalkshow.com/?webdesignrepo'},
               ]
            }
          ]
        }
