-
  Learning = {
          title: 'Learning',
          id: 'Learning',
          subCats: [
            {
              title: 'Basics',
              track: { 1: 1, 2: 2 },
              links: [
                { name: 'Codecademy HTML & CSS', date: '2016-04-20', url: 'https://www.codecademy.com/learn/web/?webdesignrepo', track: 2},
                { name: 'Don\'t Fear the Internet', date: '2016-04-20', url: 'http://www.dontfeartheinternet.com/?webdesignrepo', track: 1},
                { name: 'Learn to Code HTML & CSS', date: '2016-04-20', url: 'http://learn.shayhowe.com/html-css/getting-to-know-html/?webdesignrepo', track: 2}
               ]
            }
            , {
              title: 'CSS',
              track: { 1: 3, 2: 1, 3: 1 },
              links: [
                { name: 'CSS Selectors', date: '2016-04-20', url: 'https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048/?webdesignrepo', track: 1},
                { name: 'FreeCodeCamp', date: '2016-04-20', url: 'https://www.freecodecamp.com/?webdesignrepo', track: 1},
                { name: 'BEM', date: '2016-04-20', url: 'http://getbem.com/?webdesignrepo', track: 2},
                { name: 'Sass Basics', date: '2016-04-20', url: 'http://sass-lang.com/guide/?webdesignrepo', track: 3},
                { name: 'WebPlatform CSS', date: '2016-04-20', url: 'http://docs.webplatform.org/wiki/css/?webdesignrepo', track: 1},
               ]
            }
            , {
              title: 'HTML',
              track: { 1: 2, 2: 2, 3: 1 },
              links: [
                { name: 'Dive Into HTML5', date: '2016-04-20', url: 'http://diveintohtml5.info/index.html/?webdesignrepo', track: 1},
                { name: 'FreeCodeCamp', date: '2016-04-20', url: 'https://www.freecodecamp.com/?webdesignrepo', track: 1},
                { name: 'HTML5 Doctor', date: '2016-04-20', url: 'http://html5doctor.com/?webdesignrepo', track: 2},
                { name: 'WebPlatform HTML', date: '2016-04-20', url: 'http://docs.webplatform.org/wiki/html/?webdesignrepo', track: 2},
                { name: 'Web Accessibility Basics', date: '2016-04-20', url: 'https://www.marcozehe.de/2015/12/14/the-web-accessibility-basics/?webdesignrepo', track: 3},
               ]
            }
            , {
              title: 'JavaScript',
              track: { 1: 2, 2: 3, 3: 1 },
              links: [
                { name: 'Codecademy JavaScript', date: '2016-04-20', url: 'https://www.codecademy.com/learn/javascript/?webdesignrepo', track: 1},
                { name: 'Eloquent JavaScript', date: '2016-04-20', url: 'http://eloquentjavascript.net/?webdesignrepo', book: true, track: 2},
                { name: 'FreeCodeCamp', date: '2016-04-20', url: 'https://www.freecodecamp.com/?webdesignrepo', track: 1},
                { name: 'JavaScript: The Good Parts', date: '2016-04-20', url: 'http://shop.oreilly.com/product/9780596517748.do', book: true, paid: true, track: 2},
                { name: 'You Don\'t Know JS', date: '2016-04-20', url: 'https://github.com/getify/You-Dont-Know-JS', book: true, track: 2},
                { name: 'ES6 Features', date: '2016-04-20', url: 'https://github.com/lukehoban/es6features#readme', track: 3},
               ]
            }
            , {
              title: 'JS Frameworks',
              links: [
                { name: 'Build with React', date: '2016-04-20', url: 'http://buildwithreact.com/?webdesignrepo'},
                { name: 'Full Stack Redux', date: '2016-04-20', url: 'http://teropa.info/blog/2015/09/10/full-stack-redux-tutorial.html/'},
                { name: 'React Tutorial', date: '2016-04-20', url: 'https://facebook.github.io/react/docs/getting-started.html'},
                { name: 'Angular Tutorial', date: '2016-04-20', url: 'https://angular.io/docs/ts/latest/tutorial/?webdesignrepo'},
                { name: 'Learn Angular 2', date: '2016-04-20', url: 'http://learnangular2.com/?webdesignrepo'},
                { name: 'Building an App with Vue', date: '2016-04-20', url: 'https://scotch.io/tutorials/build-an-app-with-vue-js-a-lightweight-alternative-to-angularjs/?webdesignrepo'},
                { name: 'Getting Started with Vue', date: '2016-04-20', url: 'https://www.sitepoint.com/getting-started-with-vue-js/?webdesignrepo'}
              ]
            }
            , {
              title: 'Miscellaneous',
              links: [
                { name: 'Caching', date: '2016-04-20', url: 'https://www.mnot.net/cache_docs/?webdesignrepo'},
                { name: 'How Browsers Work', date: '2016-04-20', url: 'http://taligarsiel.com/Projects/howbrowserswork1.htm?webdesignrepo'},
                { name: 'Robots.txt', date: '2016-04-20', url: 'http://www.robotstxt.org/robotstxt.html/'},
                { name: 'SEO for Beginners', date: '2016-04-20', url: 'http://www.hobo-web.co.uk/seo-tutorial/?webdesignrepo'},
               ]
            }
            , {
              title: 'Multi Language',
              links: [
                { name: 'Code Avengers', date: '2016-04-20', url: 'https://www.codeavengers.com/?webdesignrepo', paid: true},
                { name: 'Code School', date: '2016-04-20', url: 'https://www.codeschool.com/?webdesignrepo', paid: true},
                { name: 'Team Treehouse', date: '2016-04-20', url: 'https://teamtreehouse.com/?webdesignrepo', paid: true},
                { name: 'Pluralight', date: '2016-04-20', url: 'https://www.pluralsight.com/?webdesignrepo', paid: true},
                { name: 'Udacity', date: '2016-04-20', url: 'https://www.udacity.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Workflow',
              links: [
                { name: 'Git Tutorial', date: '2016-04-20', url: 'https://www.atlassian.com/git/tutorials/?webdesignrepo'},
                { name: 'Gulp for Beginners', date: '2016-04-20', url: 'https://css-tricks.com/gulp-for-beginners/?webdesignrepo'},
                { name: 'Webpack for Beginners', date: '2016-04-20', url: 'https://medium.com/@dabit3/beginner-s-guide-to-webpack-b1f1a3638460#.fyp6ca4a1'}
               ]
            }
          ]
        }
