-
  Plugins = {
          title: 'Plugins',
          id: 'Plugins',
          subCats: [
            {
              title: 'Animation',
              links: [
                { name: 'Animate.css', date: '2016-04-20', url: 'https://daneden.github.io/animate.css/'},
                { name: 'Bounce.js', date: '2016-04-20', url: 'http://bouncejs.com/?webdesignrepo'},
                { name: 'Easings', date: '2016-04-20', url: 'http://easings.net/?webdesignrepo'},
                { name: 'Hover', date: '2016-04-20', url: 'http://ianlunn.github.io/Hover/#effects'},
                { name: 'Ramjet', date: '2016-04-20', url: 'http://www.rich-harris.co.uk/ramjet/?webdesignrepo'}
               ]
            }
            , {
              title: 'Carousel',
              links: [
                { name: 'Flickity', date: '2016-04-20', url: 'http://flickity.metafizzy.co/?webdesignrepo'},
                { name: 'Glide', date: '2016-04-20', url: 'http://glide.jedrzejchalubek.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Data',
              links: [
                { name: 'Chart', date: '2016-04-20', url: 'http://www.chartjs.org/?webdesignrepo'},
                { name: 'Chartist', date: '2016-04-20', url: 'http://gionkunz.github.io/chartist-js/?webdesignrepo'},
                { name: 'Dynatable', date: '2016-04-20', url: 'https://www.dynatable.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Date & Time',
              links: [
                { name: 'Moment', date: '2016-04-20', url: 'http://momentjs.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'File Upload',
              links: [
                { name: 'Dropzone', date: '2016-04-20', url: 'http://www.dropzonejs.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Filter & Lists',
              links: [
                { name: 'Isotope', date: '2016-04-20', url: 'http://isotope.metafizzy.co/?webdesignrepo'},
                { name: 'List', date: '2016-04-20', url: 'http://www.listjs.com/?webdesignrepo'},
                { name: 'Mix It Up', date: '2016-04-20', url: 'https://mixitup.kunkalabs.com/?webdesignrepo'},
                { name: 'Sortable', date: '2016-04-20', url: 'http://rubaxa.github.io/Sortable/?webdesignrepo'}
               ]
            }
            , {
              title: 'Image',
              links: [
                { name: 'Color Thief', date: '2016-04-20', url: 'http://lokeshdhakar.com/projects/color-thief/?webdesignrepo'},
                { name: 'Croppie', date: '2016-04-20', url: 'https://foliotek.github.io/Croppie'},
                { name: 'Face Detection', date: '2016-10-20', url: 'http://facedetection.jaysalvat.com/?webdesignrepo'},
                { name: 'Magnifier', date: '2016-04-20', url: 'http://mark-rolich.github.io/Magnifier.js/'}
               ]
            }
            , {
              title: 'Interaction',
              links: [
                { name: 'Interact.js', date: '2016-04-20', url: 'http://interactjs.io/?webdesignrepo'}
               ]
            }
            , {
              title: 'Input',
              links: [
                { name: 'Cleave', date: '2017-03-07', url: 'http://nosir.github.io/cleave.js/?webdesignrepo'}
               ]
            }
            , {
              title: 'Loading',
              links: [
                { name: 'NProgress', date: '2016-04-20', url: 'http://ricostacruz.com/nprogress/?webdesignrepo'},
                { name: 'Spinners', date: '2016-04-20', url: 'http://projects.lukehaas.me/css-loaders/?webdesignrepo'}
               ]
            }
            , {
              title: 'Maps',
              links: [
                { name: 'Leaflet', date: '2016-04-20', url: 'http://leafletjs.com/index.html'}
              ]
            }
            , {
              title: 'Modal',
              links: [
                { name: 'Fluid Box', date: '2016-04-20', url: 'http://terrymun.github.io/Fluidbox/demo/index.html'},
                { name: 'Magnific Popup', date: '2016-04-20', url: 'http://dimsemenov.com/plugins/magnific-popup/?webdesignrepo'},
                { name: 'Photo Swipe', date: '2016-04-20', url: 'http://photoswipe.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Navigation',
              links: [
                { name: 'Headroom', date: '2016-04-20', url: 'http://wicky.nillia.ms/headroom.js/?webdesignrepo'},
                { name: 'Pushy', date: '2016-04-20', url: 'https://www.christopheryee.ca/pushy/?webdesignrepo'}
               ]
            }
            , {
              title: 'Notification',
              links: [
                { name: 'Favico', date: '2016-04-20', url: 'http://lab.ejci.net/favico.js/?webdesignrepo'},
                { name: 'iGrowl', date: '2016-04-20', url: 'http://catc.github.io/iGrowl/#ss-demo'},
                { name: 'Toastr', date: '2016-04-20', url: 'http://codeseven.github.io/toastr/'}
               ]
            }
            , {
              title: 'Parallax',
              links: [
                { name: 'Parallax.js', date: '2016-04-20', url: 'http://matthew.wagerfield.com/parallax/?webdesignrepo'},
                { name: 'Stellar', date: '2016-04-20', url: 'http://markdalgleish.com/projects/stellar.js/demos/?webdesignrepo'}
               ]
            }
            , {
              title: 'Physics & 3D',
              links: [
                { name: 'Matter', date: '2016-04-20', url: 'http://brm.io/matter-js/?webdesignrepo'},
                { name: 'Three.js', date: '2016-04-20', url: 'https://threejs.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'Search',
              links: [
                { name: 'Awesomplete', date: '2016-04-20', url: 'https://leaverou.github.io/awesomplete/'},
                { name: 'Typeahead.js', date: '2016-04-20', url: 'http://twitter.github.io/typeahead.js/'}
               ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'FlowType', date: '2016-04-20', url: 'http://simplefocus.com/flowtype/?webdesignrepo'},
                { name: 'Kerning', date: '2016-04-20', url: 'http://kerningjs.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Video',
              links: [
                { name: 'Vide', date: '2016-04-20', url: 'http://vodkabears.github.io/vide/?webdesignrepo'},
                { name: 'Video.js', date: '2016-04-20', url: 'http://videojs.com/?webdesignrepo'}
               ]
            }
          ]
        }
