-
  Architecture = {
          title: 'Architecture',
          id: 'Architecture',
          subCats: [
            {
              title: 'Blogging',
              links: [
                { name: 'Anchor', date: '2016-04-20', url: 'https://anchorcms.com/?webdesignrepo'},
                { name: 'Ghost', date: '2016-04-20', url: 'https://ghost.org/?webdesignrepo', paid: true},
                { name: 'Jekyll', date: '2016-04-20', url: 'https://jekyllrb.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'CMS',
              links: [
                { name: 'Couch', date: '2016-04-20', url: 'http://www.couchcms.com/?webdesignrepo', paid: true},
                { name: 'Craft CMS', date: '2016-04-20', url: 'https://craftcms.com/?webdesignrepo', paid: true},
                { name: 'Pico', date: '2016-04-20', url: 'http://picocms.org/?webdesignrepo'},
                { name: 'Wordpress', date: '2016-04-20', url: 'https://wordpress.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'CSS Frameworks',
              links: [
                { name: 'Bootstrap', date: '2016-04-20', url: 'http://getbootstrap.com/?webdesignrepo'},
                { name: 'Foundation', date: '2016-04-20', url: 'http://foundation.zurb.com/?webdesignrepo'},
                { name: 'Materialize', date: '2016-04-20', url: 'http://materializecss.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'CSS Preprocessors',
              links: [
                { name: 'Post CSS', date: '2016-04-20', url: 'http://postcss.org/?webdesignrepo'},
                { name: 'Sass', date: '2016-04-20', url: 'http://sass-lang.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'CSS Utility',
              links: [
                { name: 'CSS Reset', date: '2016-04-20', url: 'http://meyerweb.com/eric/tools/css/reset/?webdesignrepo'},
                { name: 'Normalize', date: '2016-04-20', url: 'http://necolas.github.io/normalize.css/?webdesignrepo'}
               ]
            }
            , {
              title: 'eCommerce',
              links: [
                { name: 'Big Cartel', date: '2016-04-20', url: 'https://www.bigcartel.com/?webdesignrepo', paid: true},
                { name: 'Magento', date: '2016-04-20', url: 'https://magento.com/?webdesignrepo', paid: true},
                { name: 'Wordpress', date: '2016-04-20', url: 'https://wordpress.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'Forum',
              links: [
                { name: 'Telescope', date: '2016-04-20', url: 'http://www.telescopeapp.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'Hosting & Domains',
              links: [
                { name: 'AWS', date: '2016-04-20', url: 'https://aws.amazon.com/?nc2=h_lg', paid: true},
                { name: 'Digital Ocean', date: '2016-04-20', url: 'https://m.do.co/c/2787102ed068', paid: true},
                { name: 'Media Temple', date: '2016-04-20', url: 'https://mediatemple.net/?webdesignrepo', paid: true},
                { name: 'Namecheap', date: '2016-04-20', url: 'https://www.namecheap.com/?aff=104576', paid: true}
               ]
            }
            , {
              title: 'HTML Preprocessors',
              links: [
                { name: 'Haml', date: '2016-04-20', url: 'http://haml.info/?webdesignrepo'},
                { name: 'Pug', date: '2016-04-20', url: 'https://pugjs.org/api/getting-started.html'}
               ]
            }
            , {
              title: 'JS Frameworks',
              links: [
                { name: 'Angular', date: '2016-04-20', url: 'https://angularjs.org/?webdesignrepo'},
                { name: 'Meteor', date: '2016-04-20', url: 'https://www.meteor.com/?webdesignrepo'},
                { name: 'React', date: '2016-04-20', url: 'https://facebook.github.io/react/?webdesignrepo'},
                { name: 'Socket', date: '2016-04-20', url: 'http://socket.io/?webdesignrepo'},
                { name: 'Vue', date: '2016-04-20', url: 'https://vuejs.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'JS Libraries',
              links: [
                { name: 'Instant Click', date: '2016-04-20', url: 'http://instantclick.io/?webdesignrepo'},
                { name: 'jQuery', date: '2016-04-20', url: 'https://jquery.com/?webdesignrepo'},
                { name: 'Lodash', date: '2016-04-20', url: 'https://lodash.com/?webdesignrepo'},
                { name: 'Underscore', date: '2016-04-20', url: 'http://underscorejs.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'JS Preprocessors',
              links: [
                { name: 'Babel', date: '2016-04-20', url: 'https://babeljs.io/?webdesignrepo'},
                { name: 'CoffeeScript', date: '2016-04-20', url: 'http://coffeescript.org/?webdesignrepo'},
                { name: 'TypeScript', date: '2016-04-20', url: 'http://www.typescriptlang.org/?webdesignrepo'}
               ]
            }
            , {
              title: 'Workflow',
              links: [
                { name: 'Gulp', date: '2016-04-20', url: 'http://gulpjs.com/?webdesignrepo'},
                { name: 'Webpack', date: '2016-04-20', url: 'https://webpack.github.io/?webdesignrepo'}
               ]
            }
          ]
        }
