-
  Tools = {
          title: 'Tools',
          id: 'Tools',
          subCats: [
            {
              title: 'Analytics',
              links: [
                { name: 'Ahrefs', date: '2016-04-20', url: 'https://ahrefs.com/?webdesignrepo', paid: true},
                { name: 'Google Analytics', date: '2016-04-20', url: 'https://www.google.com/analytics/#'},
                { name: 'Moz', date: '2016-04-20', url: 'https://moz.com/researchtools/ose/?webdesignrepo'},
                { name: 'Nibbler', date: '2016-04-20', url: 'http://nibbler.silktide.com/en_US/?webdesignrepo'},
                { name: 'Optimizely', date: '2016-04-20', url: 'https://www.optimizely.com/?webdesignrepo', paid: true},
                { name: 'Piwik', date: '2016-04-20', url: 'https://piwik.org/?webdesignrepo'},
                { name: 'Varvy', date: '2016-04-20', url: 'https://varvy.com/?webdesignrepo'},
               ]
            }
            , {
              title: 'Advertising',
              links: [
                { name: 'BuySellAds', date: '2016-04-20', url: 'https://www.buysellads.com/?webdesignrepo'},
                { name: 'Google AdWords', date: '2016-04-20', url: 'https://www.google.com/adwords/'}
               ]
            }
            , {
              title: 'Browser Addons',
              links: [
                { name: 'Eye Dropper', date: '2016-04-20', urls: [
                  { name: 'Chrome', url: 'https://chrome.google.com/webstore/detail/colorpick-eyedropper/ohcpnigalekghcmgcdcenkpelffpdolg'},
                  { name: 'Firefox', url: 'https://addons.mozilla.org/en-Gb/firefox/addon/colorzilla/'}
                ]}
               ]
            }
            , {
              title: 'Compatibility',
              links: [
                { name: 'Browser Stack', date: '2016-04-20', url: 'https://www.browserstack.com/?webdesignrepo', paid: true},
                { name: 'Can I Use', date: '2016-04-20', url: 'http://caniuse.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Code Optimisation',
              links: [
                { name: 'Autoprefixer', date: '2016-04-20', urls: [
                  { name: 'PostCSS', url: 'https://github.com/postcss/autoprefixer'},
                  { name: 'Gulp', url: 'https://www.npmjs.com/package/gulp-autoprefixer/?webdesignrepo'}
                ]},
                { name: 'CSSLint', date: '2016-04-20', url: 'https://github.com/CSSLint/csslint'},
                { name: 'ESLint', date: '2016-04-20', url: 'http://eslint.org/?webdesignrepo'},
                { name: 'Helium CSS', date: '2016-04-20', url: 'https://github.com/geuis/helium-css'},
                { name: 'HTML Inspector', date: '2016-04-20', url: 'https://github.com/philipwalton/html-inspector'}
               ]
            }
            , {
              title: 'CSS Helpers',
              links: [
                { name: 'Clippy', date: '2016-04-20', url: 'http://bennettfeely.com/clippy/?webdesignrepo'},
                { name: 'Mantra', date: '2016-04-20', url: 'http://jeremyckahn.github.io/mantra/'}
               ]
            }
            , {
              title: 'Image Optimisation',
              links: [
                { name: 'Jpeg.io', date: '2016-04-20', url: 'https://www.jpeg.io/?webdesignrepo'},
                { name: 'Tiny PNG', date: '2016-04-20', url: 'https://tinypng.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Page Speed',
              links: [
                { name: 'Google PageSpeed', date: '2016-04-20', url: 'https://developers.google.com/speed/pagespeed/insights/'},
                { name: 'Pingdom', date: '2016-04-20', url: 'https://tools.pingdom.com/?webdesignrepo'},
               ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'Type Scale', date: '2016-04-20', url: 'http://type-scale.com/?webdesignrepo'},
                { name: 'Wordmark', date: '2016-04-20', url: 'http://wordmark.it/?webdesignrepo'}
              ]
            }
            , {
              title: 'Workflow',
              links: [
                { name: 'BrowserSync', date: '2016-04-20', url: 'https://www.browsersync.io/?webdesignrepo'},
                { name: 'Trello', date: '2016-04-20', url: 'https://trello.com/?webdesignrepo'}
              ]
            }
          ]
        }
