-
  Resources = {
          title: 'Resources',
          id: 'Resources',
          subCats: [
            {
              title: 'Code Editors',
              links: [
                { name: 'Atom', date: '2016-04-20', url: 'https://atom.io/?webdesignrepo'},
                { name: 'Brackets', date: '2016-04-20', url: 'http://brackets.io/?webdesignrepo'},
                { name: 'Sublime Text', date: '2016-04-20', url: 'http://www.sublimetext.com/?webdesignrepo', paid: true},
                { name: 'Visual Studio Code', date: '2016-04-20', url: 'https://code.visualstudio.com/?webdesignrepo'},
                { name: 'WebStorm', date: '2016-04-20', url: 'https://www.jetbrains.com/webstorm/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Colors & Patterns',
              links: [
                { name: 'Flat UI', date: '2016-11-01', url: 'http://www.flatuicolorpicker.com/all/?webdesignrepo'},
                { name: 'Hero Patterns', date: '2016-11-01', url: 'http://www.heropatterns.com/?webdesignrepo'},
                { name: 'Subtle Patterns', date: '2016-11-01', url: 'http://subtlepatterns.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Iconography',
              links: [
                { name: 'Feather Icon Pack', date: '2016-04-20', url: 'https://gumroad.com/l/feather/?webdesignrepo'},
                { name: 'Flat Icon', date: '2016-04-20', url: 'http://www.flaticon.com/?webdesignrepo'},
                { name: 'Fontello', date: '2016-04-20', url: 'http://fontello.com'},
                { name: 'Font Awesome', date: '2016-11-04', url: 'http://fontawesome.io/?webdesignrepo'},
                { name: 'IcoMoon', date: '2016-04-20', url: 'https://icomoon.io/app/#/select'},
                { name: 'Iconmonster', date: '2016-04-20', url: 'http://iconmonstr.com/?webdesignrepo'},
                { name: 'IKONS Icon Pack', date: '2016-04-20', url: 'http://ikons.piotrkwiatkowski.co.uk/index.html'}
               ]
            }
            , {
              title: 'Legal',
              links: [
                { name: 'Contract Killer', date: '2016-11-21', url: 'https://stuffandnonsense.co.uk/projects/contract-killer/'},
                { name: 'Legal Guide', date: '2016-11-21', url: 'https://www.smashingmagazine.com/2013/04/legal-guide-contract-samples-for-designers/?webdesignrepo'}
               ]
            }
            , {
              title: 'Online Editors',
              links: [
                { name: 'Codepen', date: '2016-04-20', url: 'http://codepen.io/?webdesignrepo'},
                { name: 'JSBin', date: '2016-04-20', url: 'https://jsbin.com/?html,js,output'},
                { name: 'JSFiddle', date: '2016-04-20', url: 'https://jsfiddle.net/?webdesignrepo'},
                { name: 'Plunker', date: '2016-04-20', url: 'http://plnkr.co/?webdesignrepo'}
               ]
            }
            , {
              title: 'Reference',
              links: [
                { name: 'CSS Colors', date: '2016-04-20', url: 'http://colours.neilorangepeel.com/?webdesignrepo'},
                { name: 'Git Cheatsheet', date: '2016-04-20', url: 'http://ndpsoftware.com/git-cheatsheet.html'},
                { name: 'HTML5 Doctor', date: '2016-04-20', url: 'http://html5doctor.com/element-index/?webdesignrepo'},
                { name: 'MDN', date: '2016-04-20', url: 'https://developer.mozilla.org/en-US/'},
                { name: 'OverAPI', date: '2016-04-20', url: 'http://overapi.com/?webdesignrepo'},
                { name: 'Typography Cheatsheet', date: '2016-04-20', url: 'https://www.typewolf.com/cheatsheet/?webdesignrepo'}
               ]
            }
          ]
        }
