-
  Community = {
          title: 'Community',
          id: 'Community',
          subCats: [
            {
              title: 'Ask Questions',
              links: [
                { name: 'Stack Overflow', date: '2016-04-20', url: 'http://stackoverflow.com/'},
                { name: '/r/LearnProgramming', date: '2016-04-20', url: 'https://www.reddit.com/r/learnprogramming/'}
               ]
            }
            , {
              title: 'Challenge',
              links: [
                { name: 'Code Wars', date: '2016-04-20', url: 'http://www.codewars.com/'}
               ]
            }
            , {
              title: 'Forums',
              links: [
                { name: 'CSS Tricks', date: '2016-04-20', url: 'https://css-tricks.com/forums/'}
               ]
            }
          ]
        }
