include 01_DailyVisits.pug
include 02_BlogsNews.pug
include 03_Learning.pug
include 04_Plugins.pug
include 05_Architecture.pug
include 06_Tools.pug
include 07_Resources.pug
include 08_Community.pug
-
  data = [
    DailyVisits,
    BlogsNews,
    Learning,
    Community,
    Plugins,
    Architecture,
    Tools,
    Resources
  ]
