-
  DailyVisits = {
          title: 'Daily Visits',
          id: 'DailyVisits',
          subCats: [
            {
              title: 'CSS Blogs',
              links: [
                { name: 'A List Apart', date: '2016-09-20', url: 'http://alistapart.com/?webdesignrepo'},
                { name: 'Smashing Magazine', date: '2016-08-01', url: 'https://www.smashingmagazine.com/?webdesignrepo'},
                { name: 'Sidebar', date: '2016-09-24', url: 'http://sidebar.io/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Designer News', date: '2016-04-20', url: 'https://www.designernews.co/?webdesignrepo'},
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/?webdesignrepo'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/?webdesignrepo'},
                { name: '/r/Web_Design', date: '2016-04-20', url: 'https://www.reddit.com/r/web_design'},
               ]
            }
            , {
              title: 'Inspiration',
              links: [
                { name: 'Behance', date: '2016-04-20', url: 'https://www.behance.net/?webdesignrepo'},
                { name: 'Dribbble', date: '2016-04-20', url: 'https://dribbble.com/?webdesignrepo'}
               ]
            }
          ]
        }
