-
  BlogsNews = {
          title: 'Blogs & News',
          id: 'BlogsNews',
          subCats: [
            {
              title: 'Mixed Design',
              links: [
                { name: 'Abduzeedo', date: '2016-04-20', url: 'http://abduzeedo.com/?webdesignrepo'},
                { name: 'Design Shack', date: '2016-04-20', url: 'https://designshack.net/?webdesignrepo'},
                { name: 'Digital Telepathy', date: '2016-09-30', url: 'http://www.dtelepathy.com/blog/?webdesignrepo'},
                { name: 'Luke W', date: '2016-10-24', url: 'http://www.lukew.com/ff/?webdesignrepo'},
                { name: 'Speckyboy', date: '2016-04-20', url: 'https://speckyboy.com/?webdesignrepo'},
                { name: 'Sidebar', date: '2016-04-20', url: 'http://sidebar.io/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community Run',
              links: [
                { name: 'Designer News', date: '2016-04-20', url: 'https://www.designernews.co/?webdesignrepo'},
                { name: 'Hacker News', date: '2016-04-20', url: 'https://news.ycombinator.com/?webdesignrepo'},
                { name: 'Product Hunt', date: '2016-04-20', url: 'https://www.producthunt.com/?webdesignrepo'},
                { name: '/r/Design', date: '2016-04-20', url: 'https://www.reddit.com/r/design'},
                { name: '/r/Web_Design', date: '2016-04-20', url: 'https://www.reddit.com/r/web_design'},
               ]
            }
            , {
              title: 'Podcasts',
              links: [
                { name: 'Boagworld', date: '2016-04-20', url: 'https://boagworld.com/show/?webdesignrepo'},
                { name: 'Design Details', date: '2016-04-20', url: 'https://spec.fm/podcasts/design-details/?webdesignrepo'},
                { name: 'Let\'s Make Mistakes', date: '2016-04-20', url: 'http://www.mistakes.show/?webdesignrepo'},
                { name: 'The Big Web Show', date: '2016-04-20', url: 'http://5by5.tv/bigwebshow/?webdesignrepo'}
               ]
            }
            , {
              title: 'Web Design',
              links: [
                { name: 'A List Apart', date: '2016-04-20', url: 'http://alistapart.com/?webdesignrepo'},
                { name: 'Hacking UI', date: '2016-04-20', url: 'http://hackingui.com/?webdesignrepo'},
                { name: 'Nathan Barry', date: '2016-04-20', url: 'http://nathanbarry.com/?webdesignrepo'},
                { name: 'Smashing Magazine', date: '2016-04-20', url: 'https://www.smashingmagazine.com/?webdesignrepo'},
                { name: 'UX Booth', date: '2016-04-20', url: 'http://www.uxbooth.com/articles/?webdesignrepo'},
                { name: 'UX Design Weekly', date: '2016-04-20', url: 'http://uxdesignweekly.com/?webdesignrepo'},
                { name: 'UX Movement', date: '2016-04-20', url: 'http://uxmovement.com/?webdesignrepo'}
              ]
            }
          ]
        }
