-
  Inspiration = {
          title: 'Inspiration',
          id: 'Inspiration',
          subCats: [
            {
              title: 'Colors & Patterns',
              links: [
                { name: 'Adobe Kuler', date: '2016-09-20', url: 'https://color.adobe.com/explore/most-popular/?time=month/?webdesignrepo'},
                { name: 'Colour Lovers', date: '2016-09-20', url: 'http://www.colourlovers.com/palettes/?webdesignrepo'},
                { name: 'Coolors', date: '2016-09-20', url: 'https://coolors.co/?webdesignrepo'},
                { name: 'Flat UI', date: '2016-09-25', url: 'http://www.flatuicolorpicker.com/all/?webdesignrepo'},
                { name: 'Palette Generator', date: '2016-09-25', url: 'http://palettegenerator.com/?webdesignrepo'},
                { name: 'Subtle Patterns', date: '2016-04-20', url: 'http://subtlepatterns.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Community',
              links: [
                { name: 'Behance', date: '2016-09-30', url: 'https://www.behance.net/?webdesignrepo'},
                { name: 'Codepen', date: '2016-04-20', url: 'http://codepen.io/?webdesignrepo'},
                { name: 'Dribbble', date: '2016-04-20', url: 'https://dribbble.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Showcase',
              links: [
                { name: 'CSS Design Awards', date: '2016-04-20', url: 'http://cssdesignawards.com/?webdesignrepo'},
                { name: 'Little Big Details', date: '2016-04-20', url: 'http://littlebigdetails.com/?webdesignrepo'},
                { name: 'Mobile Patterns', date: '2016-04-20', url: 'http://www.mobile-patterns.com/?webdesignrepo'},
                { name: 'Muzli', date: '2016-04-20', url: 'http://muz.li/?webdesignrepo'},
                { name: 'One Page Love', date: '2016-04-20', url: 'https://onepagelove.com/?webdesignrepo'},
                { name: 'Pttrns', date: '2016-04-20', url: 'http://pttrns.com/?webdesignrepo'},
                { name: 'Really Good Emails', date: '2016-04-20', url: 'http://reallygoodemails.com/?webdesignrepo'},
                { name: 'Siiimple', date: '2016-04-20', url: 'http://siiimple.com/?webdesignrepo'},
                { name: 'Site Inspire', date: '2016-04-20', url: 'https://www.siteinspire.com/?webdesignrepo'},
                { name: 'UI Movement', date: '2016-04-20', url: 'https://uimovement.com/?webdesignrepo'}
              ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'Font Combinations', date: '2016-04-20', url: 'https://www.canva.com/font-combinations/?webdesignrepo'},
                { name: 'Fonts In Use', date: '2016-04-20', url: 'http://fontsinuse.com/?webdesignrepo'},
                { name: 'I Love Typography', date: '2016-04-20', url: 'http://ilovetypography.com/?webdesignrepo'},
                { name: 'Typewolf', date: '2016-04-20', url: 'https://www.typewolf.com/?webdesignrepo'}
               ]
            }
          ]
        }
