-
  Learning = {
          title: 'Learning',
          id: 'Learning',
          subCats: [
            {
              title: 'Color',
              links: [
                { name: 'Color Theory', date: '2016-04-20', url: 'https://www.smashingmagazine.com/2010/01/color-theory-for-designers-part-1-the-meaning-of-color/#top'}
               ]
            }
            , {
              title: 'Design',
              links: [
                { name: 'Design of Everyday Things', date: '2016-04-20', url: 'https://www.amazon.co.uk/Design-Real-World-Ecology-Social/dp/0500273588', paid: true, book: true},
                { name: 'Hack Design', date: '2016-04-20', url: 'https://hackdesign.org/lessons/?webdesignrepo'},
                { name: 'How To Not Suck Online', date: '2016-04-20', url: 'http://howtonotsuckonline.com/?webdesignrepo'},
                { name: 'The Shape of Design', date: '2016-04-20', url: 'http://www.shapeofdesignbook.com/?webdesignrepo', book: true}
               ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'Practical Typography', date: '2016-04-20', url: 'http://practicaltypography.com/?webdesignrepo'},
                { name: 'Thinking With Type', date: '2016-10-19', url: 'http://www.thinkingwithtype.com/?webdesignrepo', book: true},
                { name: 'Typo Guide', date: '2016-04-20', url: 'http://www.typogui.de/?webdesignrepo'},
                { name: 'Vertical Rythym', date: '2016-04-20', url: 'https://24ways.org/2006/compose-to-a-vertical-rhythm/?webdesignrepo'},

               ]
            }
            , {
              title: 'UI/UX',
              links: [
                { name: 'Good UI', date: '2016-10-23', url: 'http://goodui.org/?webdesignrepo'},
                { name: 'Hacking UI', date: '2016-04-20', url: 'http://hackingui.com/?webdesignrepo'}
              ]
            }
          ]
        }
