-
  Tools = {
          title: 'Tools',
          id: 'Tools',
          subCats: [
            {
              title: 'Browser Addons',
              links: [
                { name: 'Eye Dropper', date: '2016-04-20', urls: [
                  { name: 'Chrome', url: 'https://chrome.google.com/webstore/detail/colorpick-eyedropper/ohcpnigalekghcmgcdcenkpelffpdolg'},
                  { name: 'Firefox', url: 'https://addons.mozilla.org/en-Gb/firefox/addon/colorzilla/'}
                ]}
               ]
            }
            , {
              title: 'Color',
              links: [
                { name: 'Color Hexa', date: '2016-04-20', url: 'http://www.colorhexa.com/?webdesignrepo'},
                { name: 'Color Picker', date: '2016-04-20', url: 'http://www.colorpicker.com/?webdesignrepo'},
                { name: 'Color Wheel', date: '2016-04-20', url: 'https://color.adobe.com/create/color-wheel/?webdesignrepo'},
                { name: 'Stylify Me', date: '2016-04-20', url: 'http://stylifyme.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Design Software',
              links: [
                { name: 'Adobe Photoshop', date: '2016-04-20', url: 'http://www.adobe.com/uk/products/photoshop.html?mv=search&s_kwcid=AL!3085!3!88915288610!e!!g!!photoshop&ef_id=VzmvGwAAAbj08bK8:20160922160205:s', paid: true},
                { name: 'Canva', date: '2016-11-09', url: 'https://www.canva.com/?webdesignrepo', paid: true},
                { name: 'Invision', date: '2016-04-20', url: 'https://www.invisionapp.com/?webdesignrepo', paid: true},
                { name: 'Sketch', date: '2016-04-20', url: 'https://www.sketchapp.com/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'Type Anything', date: '2016-11-04', url: 'https://typeanything.io/?webdesignrepo'},
                { name: 'Type Scale', date: '2016-04-20', url: 'http://type-scale.com/?webdesignrepo'},
                { name: 'Wordmark', date: '2016-04-20', url: 'http://wordmark.it/?webdesignrepo'}
              ]
            }
            , {
              title: 'Workflow',
              links: [
                { name: 'Red Pen', date: '2016-04-20', url: 'https://redpen.io/?webdesignrepo', paid: true},
                { name: 'Trello', date: '2016-04-20', url: 'https://trello.com/?webdesignrepo'}
              ]
            }
          ]
        }
