-
  Resources = {
          title: 'Resources',
          id: 'Resources',
          subCats: [
            {
              title: 'Iconography',
              links: [
                { name: 'Feather Icon Pack', date: '2016-04-20', url: 'https://gumroad.com/l/feather/?webdesignrepo'},
                { name: 'Flat Icon', date: '2016-04-20', url: 'http://www.flaticon.com/?webdesignrepo'},
                { name: 'Fontello', date: '2016-04-20', url: 'http://fontello.com'},
                { name: 'IcoMoon', date: '2016-04-20', url: 'https://icomoon.io/app/#/select'},
                { name: 'Iconmonster', date: '2016-04-20', url: 'http://iconmonstr.com/?webdesignrepo'},
                { name: 'IKONS Icon Pack', date: '2016-04-20', url: 'http://ikons.piotrkwiatkowski.co.uk/index.html'}
               ]
            }
            , {
              title: 'Mixed Freebies',
              links: [
                { name: 'Blaz Robar', date: '2016-04-20', url: 'http://blazrobar.com/?webdesignrepo'},
                { name: 'Freebies Bug', date: '2016-04-20', url: 'http://freebiesbug.com/?webdesignrepo'},
                { name: 'PSDDD', date: '2016-04-20', url: 'http://www.psddd.co/?webdesignrepo'},
                { name: 'Sketch App Sources', date: '2016-04-20', url: 'http://www.sketchappsources.com/?webdesignrepo'}
               ]
            }
            , {
              title: 'Mockups',
              links: [
                { name: 'Balsamiq', date: '2016-04-20', url: 'https://balsamiq.com/?webdesignrepo', paid: true},
                { name: 'Facebook Design Resources', date: '2016-04-20', url: 'http://facebook.design/?webdesignrepo'},
                { name: 'Gridzzly', date: '2016-04-20', url: 'http://gridzzly.com/?webdesignrepo'},
                { name: 'Interface Sketch', date: '2016-04-20', url: 'http://www.interfacesketch.com/?webdesignrepo'},
                { name: 'PlaceIt', date: '2016-04-20', url: 'https://placeit.net/?webdesignrepo', paid: true}
               ]
            }
            , {
              title: 'Photo & Video',
              links: [
                { name: 'Find A Photo', date: '2016-04-20', url: 'http://finda.photo/?webdesignrepo'},
                { name: 'Gratisography', date: '2016-04-20', url: 'http://www.gratisography.com/?webdesignrepo'},
                { name: 'Magdeleine', date: '2016-04-20', url: 'http://magdeleine.co/browse/?webdesignrepo'},
                { name: 'MMT', date: '2016-04-20', url: 'http://mmtstock.com/?webdesignrepo'},
                { name: 'New Old Stock', date: '2016-04-20', url: 'http://nos.twnsnd.co/?webdesignrepo'},
                { name: 'Pexels', date: '2016-04-20', url: 'https://www.pexels.com/#content/?webdesignrepo'},
                { name: 'Pixabay', date: '2016-04-20', url: 'https://pixabay.com/?webdesignrepo'},
                { name: 'Random User', date: '2016-04-20', url: 'https://randomuser.me/?webdesignrepo'},
                { name: 'Unsplash', date: '2016-04-20', url: 'https://unsplash.com/?webdesignrepo'},
                { name: 'X Stock Video', date: '2016-04-20', url: 'http://www.xstockvideo.com/?webdesignrepo', paid: true}
              ]
            }
            , {
              title: 'Typography',
              links: [
                { name: 'Adobe Edge Web Fonts', date: '2016-04-20', url: 'https://edgewebfonts.adobe.com/?webdesignrepo'},
                { name: 'Adobe Typekit', date: '2016-04-20', url: 'https://typekit.com/?webdesignrepo', paid: true},
                { name: 'Brick', date: '2016-04-20', url: 'http://brick.im/fonts/?webdesignrepo'},
                { name: 'Google Fonts', date: '2016-04-20', url: 'https://fonts.google.com/?webdesignrepo'},
                { name: 'Font Squirrel', date: '2016-04-20', url: 'https://www.fontsquirrel.com/?webdesignrepo'},
                { name: 'Lost Type', date: '2016-04-20', url: 'http://www.losttype.com/?webdesignrepo'},
                { name: 'The Designers Foundry', date: '2016-04-20', url: 'https://www.thedesignersfoundry.com/?webdesignrepo', paid: true},
                { name: 'The League of Moveable Type', date: '2016-04-20', url: 'https://www.theleagueofmoveabletype.com/?webdesignrepo'}
              ]
            }
          ]
        }
