include 01_DailyVisits.pug
include 02_BlogsNews.pug
include 03_Inspiration.pug
include 04_Learning.pug
include 05_Tools.pug
include 06_Resources.pug
-
  data = [
    DailyVisits,
    BlogsNews,
    Inspiration,
    Learning,
    Tools,
    Resources
  ]
